{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal">Статистика рассылок</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><strong>Общее количество рассылок:</strong> {{ total_mailings }}</li>
                    <li><strong>Успешные отправки:</strong> {{ successful_attempts }}</li>
                    <li><strong>Неуспешные попытки:</strong> {{ failed_attempts }}</li>
                    <li><strong>Средняя скорость отправки:</strong> {{ average_send_time|floatformat:2 }} минут</li>
                </ul>
                <a href="{% url 'mailing:mailing_attempt_list' %}" class="w-100 btn btn-lg btn-primary">
                    Посмотреть все попытки
                </a>
            </div>
        </div>
    </div>
    <a class="btn btn-outline-primary" href="{% url 'mailing:mailing_create' %}">Создать рассылку</a>
</div>
<br>
<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-6 box-shadow">
                <div class="card-header">
                    Рассылка №{{ object.mailing.id }} - {{ object.mailing.message.title }}
                </div>
                <p>
                    <strong>Дата и время создания:</strong> {{ object.created_at|date:"d.m.Y H:i" }}<br>
                    <strong>Статус:</strong> {{ object.get_status_display }}<br>
                    {% if object.server_response %}
                        <strong>Ответ сервера:</strong> {{ object.server_response }}<br>
                    {% endif %}
                </p>
                <div class="card-body">
                    <a class="btn btn-primary" href="{% url 'mailing:mailing_detail' object.pk %}" role="button">Посмотреть</a>
                    <a class="btn btn-warning" href="{% url 'mailing:mailing_update' object.pk %}" role="button">Изменить</a>
                    <a class="btn btn-danger" href="{% url 'mailing:mailing_delete' object.pk %}" role="button">Удалить</a>
                </div>
            </div>
        </div>
        {% empty %}
            <h5 class="text-center">Нет выполненных попыток рассылки.</h5>
        {% endfor %}
    </div>
</div>

{% endblock %}
